{% extends 'base.html' %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Galerie{% endblock %}
{% block content %}
    <div class="row">
        {% for gallery in page_obj %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    {% thumbnail gallery.photos.first.image "300x300" crop="center" as im %}
                        <img class="card-img-top" src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ gallery.title }}</h4>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'galleries:gallery_details' gallery.id %}" class="btn btn-primary">Pokaż</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if page_obj %}
    <div class="row">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
                {% endif %}
                {% if gallery_form %}
                    <div class="row">
                        <div class="col-6 offset-md-3">
                            <form id="gallery_form" method="post" action=".">
                                {% csrf_token %}
                                {{ gallery_form|crispy }}
                                <input type="submit" name="submit" value="Submit" class="btn btn-primary"/>
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% if photo_form %}
                    <div class="row">
                        <h2>Dodaje zdjęcie do galerii: {{ gallery.title }}</h2>
                        <div>
                            {% for photo in gallery.photos.all %}
                                {% thumbnail photo.image "x80" as im %}
                                    <img src="{{ im.url }}" alt=""/>
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                        <div class="col-6 offset-md-3">
                            <form id="pet_form" method="post" action="." enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ photo_form|crispy }}
                                <input type="submit" name="submit" value="Submit" class="btn btn-primary"/>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
    {{ gallery_form.media }}
    <script>
        let form = document.querySelectorAll(".photo-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        let formNum = form.length - 1
        addButton.addEventListener("click", addForm)
        function addForm(e) {
            e.preventDefault()
            let newForm = form[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`, "g")
            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)
            totalForms.setAttribute("value", `${formNum + 1}`)
        }
    </script>
{% endblock %}



