{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Galerie{% endblock %}

{% block content %}
    <div class="row">
        {% for gallery in page_obj %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    {% thumbnail gallery.photos.first.image "300x300" crop="center" as im %}
                        <img class="card-img-top" src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ gallery.title }}</h4>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'galleries:gallery_details' gallery.id %}" class="btn btn-primary">Pokaż</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="pagination">
            <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}