{% extends "base.html" %}
{% block title %}Lista wypożyczonych książek{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <th>Tytuł</th>
            <th>Data wypożyczenia</th>
            <th>Data zwrotu</th>
        </thead>
        <tbody>
        {% for borrow in borrows %}
            <form action="{% url 'books:borrows' borrow.id %}" method="post">
            {% csrf_token %}
            <tr>
                <td>{{ borrow.book.title }}</td>
                <td>{{ borrow.borrow_date }}</td>
                <td>{% if borrow.return_date %}
                        {{ borrow.return_date }}
                    {% else %}
                        <button type="submit" name="book_{{ borrow.book.id }}" class="btn btn-primary">
                            Zwróć
                        </button>
                    {% endif %}
                </td>
            </tr>
            </form>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}