ul {
    list-style-type: none;
}

ul li:nth-child(odd) {
    background-color: #f2f2f2;
}

ul li:nth-child(odd) a {
    color: #000;
    text-decoration: none;
}

ul li a:hover {
    color: #d00149;
}

li:nth-child(odd) a {background-color: lavender;}
.select2-selection_rendered {
    border: 1px solid lightgray;
}

.select2-container {
    min-width: 15em !important;
    width: 100% !important;
}